<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">MindBrowser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngIf="auth.isLoggedIn()">
                <a class="nav-link" routerLink="/" href="#">Home</a>
            </li>
            <li class="nav-item" *ngIf="!auth.isLoggedIn()">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item" *ngIf="!auth.isLoggedIn()">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
            <li class="nav-item" *ngIf="auth.isLoggedIn()">
                <a class="nav-link" routerLink="" (click)="auth.logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
